
<p class="gap"><%= notice %></p>
<section class="main-header">
  <img src="<%=asset_path "iphone.png"%>">
</section>

<section class="main-header">
 <p class="flash"><%= notice %><%= alert %></p>
</section>

<section class="about">
  <h1>About Ponstagram</h1>
  <p>
     Ponstagram
  </p>

</section>
